server {
        listen       80;
#        listen       [::]:80;                                                                                                       
#        server_name  _;                                                                                                             
#        server_name  .*;                                                                                                            
        server_name  localhost;
        root         /usr/share/nginx/html;

          proxy_set_header    Host                $proxy_host; # AP側                                                                
          proxy_set_header    X-Real-IP           $remote_addr; # アクセス元(直前)のIP(Client or ELB)                                
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-Server  $host;
#          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;                                                       
          proxy_set_header    X-Forwarded-For     $remote_addr; # 悪意あるXFF消去                                                    
          proxy_set_header    X-Forwarded-Proto   $scheme;
#          proxy_set_header    Connect “”;                                                                                           
          proxy_max_temp_file_size 0; # ERR_CONTENT_LENGTH_MISMATCHエラー対策                                                        


        location / {
#          try_files $uri @app;                                                                                                      

#         proxy_pass http://52.199.163.62/; # AP Server                                                                              
          proxy_pass http://10.0.10.50; # AP Server(同一サブネットのプライベートIP)                                             

#         rewrite ^/hoge/(.*)$  /hoge/html/$1 break;                                                                                 
        }



#        location @app {                                                                                                             
#          proxy_set_header    Host                $http_host;                                                                       
#          proxy_set_header    X-Real-IP           $remote_addr;                                                                     
#          proxy_set_header    X-Forwarded-Host    $host;                                                                            
#          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;                                                       
#          proxy_set_header    X-Forwarded-Proto   $scheme;                                                                          
#          # AP(Rails)サーバのIP/PORTを指定する                                                                                     \
                                                                                                                                     
#          proxy_pass          http://unicorn;                                                                                       
#         proxy_pass          http://xx.xx.xx.xx:yyy;                                                                               \
                                                                                                                                     
#         proxy_pass          http://3.113.21.149:80; # Error                                                                       \
                                                                                                                                     

}
