worker_processes Integer(ENV["WEB_CONCURRENCY"] || 3)
timeout 15
preload_app true

#listen 8080
listen '/home/ubuntu/raisetech-app/tmp/unicorn.sock'                                                                                                                           
pid    '/home/ubuntu/raisetech-app/tmp/unicorn.pid'

before_fork do |server, worker|
#  Signal.trap 'TERM' do                                                                                                                                                                     
#    puts 'Unicorn master intercepting TERM and sending myself QUIT instead'                                                                                                                 
#    Process.kill 'QUIT', Process.pid                                                                                                                                                        
#  end                                                                                                                                                                                       

  defined?(ActiveRecord::Base) and
    ActiveRecord::Base.connection.disconnect!

  old_pid = "#{server.config[:pid]}.oldbin"
  if old_pid != server.pid
    begin
      sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
      Process.kill(sig, File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
    end
  end

end

after_fork do |server, worker|
#  Signal.trap 'TERM' do                                                                                                                                                                     
#    puts 'Unicorn worker intercepting TERM and doing nothing. Wait for master to send QUIT'                                                                                                 
#  end                                                                                                                                                                                       

  defined?(ActiveRecord::Base) and
    ActiveRecord::Base.establish_connection
end

stderr_path File.expand_path('log/unicorn.log', ENV['RAILS_ROOT'])
stdout_path File.expand_path('log/unicorn.log', ENV['RAILS_ROOT'])
