# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  terraform: circleci/terraform@3.1
  ansible-playbook: orbss/ansible-playbook@0.0.5
  ruby: circleci/ruby@2.0.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  # Terraform
  terraform_deploy_infrastructure:
    executor: terraform/default
    steps:
      - checkout
      - terraform/init:
          path: .
      - terraform/validate:
          path: .
      - terraform/fmt:
          path: .
      - terraform/plan:
          path: terraform/stage
      - terraform/apply:
          path: terraform/stage
#      - terraform/destroy:
#          path: .
#    working_directory: terraform

  # Ansible 
  execute-ansible:
    executor: ansible-playbook/default
    steps:
      - checkout
      - run:
          name: Setup SSH
          command: cp ./config ~/.ssh/
      - ansible-playbook/install:
          version: 2.10.3
      - ansible-playbook/playbook:
          playbook: ansible/playbook.yml
#          playbook-options: "-u ec2-user -i ansible/inventory --private-key ~/.ssh/config"
          playbook-options: "-i ansible/inventory"
    
  # Serverspec
  execute-serverspec:
    docker:
      - image: cimg/ruby:2.7-node
    steps:
      - checkout
      - run:
          name: bundle install
          command: |
            - cd serverspec
            - bundle install --path vendor/bundle
      - run:
          name: execute
          command: |
            - cd serverspec
            - bundle exec rake spec



#    build:
#      docker:
#        - image: cimg/ruby:2.6-node
#      steps:
#        - checkout
#        - ruby/install:
#            version: '2.6'
#        - run:
#            echo "Ruby 2.6 has been installed"
#        - ruby/install-deps:
#            bundler-version: 2.4.9
#        - node/install-packages: 
#            pkg-manager: yarn

#    build:
#      docker:
#        - image: cimg/ruby:2.7-node # コンテナの種類参照URL   https://circleci.com/developer/ja/images/image/cimg/ruby

#コンテナにbundler 2.4.10が収録済 
#      steps: 
#        - ruby/install-deps:
#            bundler-version: 2.4.10

#    test:
#      docker:
#        - image: cimg/ruby:2.7-node
#      steps:
#        - checkout

#        - ruby/install-deps:
#            bundler-version: 2.4.10




#  say-hello:
#    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
#    # See: https://circleci.com/docs/configuration-reference/#executor-job
#    docker:
#      - image: cimg/base:stable
#    # Add steps to the job
#    # See: https://circleci.com/docs/configuration-reference/#steps
#    steps:
#      - checkout
#      - run:
#          name: "Say hello"
#          command: "echo Hello, World!"

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
#workflows:
#  R-SampleApp:
#  jobs:
#    - terraform_deploy_infrastructure

workflows:
  R-SampleApp:
    jobs:
      - terraform_deploy_infrastructure
      - execute-ansible:
          requires:
            - "terraform_deploy_infrastructure"
      - execute-serverspec:
          requires:
            - "execute-ansible"

#  say-hello-workflow:
#    jobs:
#      - say-hello
