# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  terraform: circleci/terraform@3.1
  ansible-playbook: orbss/ansible-playbook@0.0.5
  ruby: circleci/ruby@2.0.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  # Serverspec
  execute-serverspec:
    docker:
      - image: cimg/ruby:2.7-node
#      - image: cimg/mysql:8.0
    steps:
      - checkout
      - run:
          name: Setup SSH
          command: cp ssh/config ~/.ssh/

      - run:
          name: rt-ap-svr
          command: |
            ssh -v rt-ap-svr
            exit
      - run:
          name: rt-web-svr
          command: |
            ssh -v rt-web-svr
            exit

      - run:
          name: bundle install
          command: |
            cd serverspec
            bundle install --path vendor/bundle
      - run:
          name: execute
          command: |
            cd serverspec
            bundle exec rake spec


# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  R-SampleApp:
    jobs:
      - execute-serverspec

